<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
 <!-- namespace="패키지명.인터페이스" -->
 <mapper namespace="com.spring.tutorial.dao.AdminHumanDAO"> 
   		
    <!-- 관리자 인사관리 -->
    <select id="membersInfo" resultType="com.spring.tutorial.dto.CommonDTO">
    	select * from grb_member
		where show =1 
		order by id
    </select>
    
    <!-- 관리자 개인정보 상세페이지 -->
   <select id="usersDetail" parameterType="String" resultType="com.spring.tutorial.dto.CommonDTO">
   		select * from grb_member where id = #{id}
   </select>
   
   <!-- 관리자 개인정보 수정 -->
   <update id="usersUpdate" parameterType="com.spring.tutorial.dto.CommonDTO">
  		update grb_member 
		 set email_in=#{email_in}, address=#{address}, gender= #{gender}, marry=#{marry} , 
		     frgn=#{frgn} , nation=#{nation}, tel= #{tel}, in_tel=#{in_tel}, email_out=#{email_out} ,
		    depart_name=#{depart_name}, rank= #{rank} 
		where id = #{id}
   </update>
   
   <!-- 관리자 개인정보 삭제 -->
   <update id="usersDelete" parameterType="String">
   		update grb_member set show = 0 where id= #{id}
   </update>
    
    <!-- 관리자 전체부서명 -->
    <select id="departsInfo" resultType="com.spring.tutorial.dto.DepartDTO">
    	select  m.id , d.depart_name, t.team_name , m.name ,d.show
		    from  grb_member m join grb_depart d on m.depart_name = d.depart_name
		    join grb_team t on m.id = t.id
		order by d.depart_name ,t.team_name
    </select>
    
    <!-- 관리자 전체부서상세 -->
    <select id="departDetail" parameterType="String" resultType="com.spring.tutorial.dto.DepartDTO">
    	select  m.id , d.depart_name, t.team_name , m.name ,d.show
		    from  grb_member m join grb_depart d on m.depart_name = d.depart_name
		    join grb_team t on m.id = t.id
		where m.id = #{id}
    </select>
    
    <!-- 관리자 부서 수정 -->
  <update id="departUpdate" parameterType="com.spring.tutorial.dto.DepartDTO">
    	update grb_team
			set depart_name= #{depart_name} , team_name = #{team_name}
		where id = #{id}
    </update> 
    
    <!-- 관리자 부서 삭제 -->
    <!-- <update id="departDelete" parameterType="String">
    	update grb_depart set show = 0 where depart_name= #{depart_name}
    </update> -->
   		
 </mapper>