<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
     <!-- namespace="패키지명.인터페이스" -->
     <mapper namespace="com.spring.tutorial.dao.AttendanceDAO">   		
   		
   		<!-- 일일 근태 현황 -->
   		<select id="attendanceDay" parameterType="String" resultType="com.spring.tutorial.dto.AttendanceDTO">
   			select * from grb_attendance 
   			where id=#{id} AND today LIKE to_date(sysdate,'yyyy-MM-dd') 
   		</select> 
   		
   		<!-- 나의 근무 조회 -->
   		<!-- <select id="attendanceWeek" parameterType="String" resultType="com.spring.tutorial.dto.AttendanceDTO">
   			select * from grb_attendance 
   			where id=#{id} AND today LIKE to_date(#{today},'yyyy-MM') 
   		</select>   -->
   		
   		<!-- 월 근태 현황 -->
   		<!-- <select id="attendanceMonth" parameterType="String" resultType="com.spring.tutorial.dto.AttendanceDTO">
   			select * from grb_attendance 
   			where id=#{id} AND today LIKE to_date(sysdate,'yyyy-MM-dd') 
   		</select> -->      		
   		
   		<!-- 업무 시작 처리 -->
   		<insert id="attendin" parameterType="String">   			
		   	INSERT INTO grb_attendance (attend_id, id, attendin, RESULT, state)
			VALUES((SELECT NVL(Max(attend_id)+1,1) FROM grb_attendance), #{id}, sysdate, 1, '업무');
   		</insert>  		  		
   		
   		<!-- 업무 종료 처리 -->
		<insert id="attendout" parameterType="String">   			
		   	INSERT INTO grb_attendance (attend_id, id, attendout, RESULT, state)
			VALUES((SELECT NVL(Max(attend_id)+1,1) FROM grb_attendance), #{id}, sysdate, 1, '업무종료');
   		</insert> 
   		
   		<!-- 연장 근무 처리 -->
   		<insert id="overin" parameterType="String">   			
		   	INSERT INTO grb_attendance (attend_id, id, attendin, RESULT, state)
			VALUES((SELECT NVL(Max(attend_id)+1,1) FROM grb_attendance), #{id}, sysdate, 1, '연장');
   		</insert> 
   		
   		<!-- 연장 종료 처리 -->
   		<insert id="overout" parameterType="String">   			
		   	INSERT INTO grb_attendance (attend_id, id, attendout, RESULT, state)
			VALUES((SELECT NVL(Max(attend_id)+1,1) FROM grb_attendance), #{id}, sysdate, 1, '연장종료');
   		</insert> 
     </mapper>